	body {
	background-color:#c24146;
}
	
	.item{
		margin-top:100%;
	}
	
	.project1{
	
	}
	
	.project2{
			
	}
	
	
	.project3{
	
	}
	
	.project4{
		
		}
		
	.name1{
		align: center;}
		
	#nameid{
	color: #f1f1f2;
	margin-right:20px;
	}
	